.product_wrapper{
   
    padding-bottom: 10px;
    border-bottom: 2px solid #ececec;
}

.product_item{
    display: flex;
    width: 100%;

    
    
    vertical-align:middle;
}

.product_item img{
    margin: auto;
    max-width: 90%;
    max-height: 400px;
}

.product_btn_video{
    font-size: 12px;
    width: 80px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    right: 30px;
    margin-top: -35px;
}

.btn.catalog_btn_basket{
    margin-right: auto;
    margin-left: auto;
    width: auto;
    padding: 8px;
}

.product_text{
    padding: 10px 30px;
}

.product_text a{
    color: #189be7;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 11px;transition: all 0.2s ease-in-out;
}

.product_text a:hover{
    opacity: 0.4;
}

.product_text p{
    font-size: 13px;
    height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;

}

.product_text p *{
    font-family: HelveticaNeueCyr-Light;
    color: #454545;
}